.accent {
  color: var(--color-primary-light);
}
.text-bold {
  font-weight: 600;
}
.underline-form {
  color: var(--color-secondary-gray);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
  text-align: center;
  justify-content: center;
  width: 213px;
}
