.photo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image1 {
    max-width: 327px;
    height: auto;
    border-radius: 327px;
    background: #d9d9d9;
    position: absolute;
    bottom: 149px;
    right: 173px;
    margin-left: 10px;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
  &__image2 {
    max-width: 327px;
    height: auto;
    border-radius: 328px;
    background: #d9d9d9;
    position: absolute;
    right: -6px;
    top: 288px;
    margin-left: 10px;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__star1 {
    fill: var(--color-secondary-dark);
    width: 64px;
    height: 64px;
    transform: rotate(-30deg);
    flex-shrink: 0;
    position: absolute;
    top: 306px;
    right: 314px;
    margin-top: 9px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @media screen and (max-width: $bp-desktop) {
      top: 473px;
      right: 97px;
    }
    @media screen and (max-width: $bp-tablet) {
      fill: var(--color-secondary-dark);
      width: 40px;
      height: 40px;
      transform: rotate(-30deg);
      flex-shrink: 0;
      position: absolute;
      margin-top: 0;
      top: 280px;
      left: 407px;
    }

    @media screen and (max-width: $bp-mobile) {
      top: 355px;
      left: 292px;
    }
  }
  &__star2 {
    fill: var(--color-primary-light);
    width: 40px;
    height: 40px;
    transform: rotate(30deg);
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    right: 1px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__star3 {
    fill: var(--color-secondary-gray);
    width: 16px;
    height: 16px;
    transform: rotate(-23deg);
    flex-shrink: 0;
    position: absolute;
    top: 156px;
    right: 53px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
